.section-head{
    margin-bottom: 60px;
}
.section-head h4{
    position: relative;
    padding: 0;
    color: #d31027;
    line-height: 1;
    letter-spacing: 0.3px;
    font-size: 34 px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.section-head h4::before{
    content:'';
    width:30px;
    height: 3px;
    background: #d31027;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
}
.section-head span{
    font-weight: 700;
    padding-bottom: 5px;
    color: #2f2f2f;
}
.section-head p{
    color: #818181;
    font-size: 16px;
    line-height: 28px;
}
.item{
    padding: 30px 25px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    margin-bottom: 30px;
    border: 5px solid rgba(0, 0, 0, 0.07);
    -webkit-transition: all 0.5s ease 0;
    transition: all 0.5s ease 0;
}
.item:hover{
    background: #d31027;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
    -webkit-transition: all 0.5s ease 0;
    transition: all 0.5s ease 0;
}
.item:hover .item, 
.item:hover span.icon{
    background: #fff;
    border-radius: 80px;
    -webkit-transition: all 0.5s ease 0;
    transition: all 0.5s ease 0;
}
.item:hover p{
    color: #fff;
    -webkit-transition: all 0.5s ease 0;
    transition: all 0.5s ease 0;
}
.item .icon{
    font-size: 80px;
    margin-bottom: 25px;
    color: #d31027;
    width: 70px;
    height: 70px;
    line-height: 96px;
    border-radius: 50px;
}